<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LUXURY MEN ASSOCIATION</title>
    <link rel="shortcut icon" href="/static/pictures/main_icon.png" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">

</head>
<body>
   
  
    <div class="dive">
        <a href="/"><img src="/static/pictures/main_icon.png" type="image/x-icon" class="logo" alt="home button"></a>
     
        <h1 style="text-align: center; color: #f30404c1; padding-top: 10%; font-size: 5.2vw;">LUXURY MEN ASSOCIATION<br><br> MEMBERSHIP FORM </h1>

        <div class="align" >
            <button class="btn_check" style="text-decoration: solid; font-size: larger;"><a href="/system" style="color: rgb(212, 5, 5);"><span>NEW<br><br>MEMBERS</span></a></button>
        
            <button class="clog_btn" style="text-decoration: solid; font-size: larger;"><a href="/clog" style="color: rgb(163, 5, 5);"><span>ADMIN</span></a></button>
        </div>
    </div>
</body>
</html>