<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LUXURY MEN ASSOCIATION</title>
    <link rel="shortcut icon" href="/static/pictures/main_icon.png" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">   
</head>
<bodyjsjsjss class="std_all">

    <a href="/back" ><button class="clue"><span>RETURN <br>&#8594 &#8594</span></button></a>
    <!-- <button><a href="/back">back</a></button> -->
    <center>
    <h2><u><i>Details display</i></u></h2>
    <br><hr>
    <br>
    <hr>
    <br>
    <p style="text-decoration: underline; font-weight: bolder;">YOUR PASSPORT </p><br>
    <h1>{{delist.filenamee}}</h1><br><br>
    <p style="text-decoration: underline; font-weight:bolder;"> YOUR COUNTRY</p><br>
    <p>{{delist.country}}</p><br><br>
    <p style="text-decoration: underline; font-weight: bolder;">YOUR STATE</p><br>
    <p>{{delist.statee}}</p><br><br>
    <p style="text-decoration: underline; font-weight: bolder;">YOUR TOWN</p><br>
    <p>{{delist.town}}</p><br><br> 
    <p style="text-decoration: underline; font-weight: bolder;">ABOUT YOUR SELF</p><br>
    <p>{{delist.about_you}}</p><br><br> 


    <br>
    <hr>
    <br>
    <hr>
</center>

</body>
</html>